.animScaleXBefore
  transform-origin: left center
  transform: scaleX(0)

.animScaleX
  animation: scaleX .4s ease-in-out forwards

.animDelay1
  animation-delay: 1.3s

.animDelay2
  animation-delay: 1.8s

.animDelay3
  animation-delay: 2.3s

@keyframes scaleX
  0%
    transform: scaleX(0)
  100%
    transform: scaleX(1)
