.blog-post
  line-height: 1.6

  h2, h3, h4, h5, h6
    font-weight: 600
  
  h2
    font-size: 1.333rem
  
  ol, ul
    display: flex
    flex-direction: column
    gap: 1.25rem
    li
      position: relative
      padding-left: 1.8em
      &::before
        position: absolute
        left: 0.3em

  
  
  ol, ul
    li
      margin-left: 1.19em
      padding-left: .6em
  
  ol li
    list-style-type: decimal

  ul li
    list-style-type: disc
    &::marker
      color: var(--color-ash900)
  
  strong
    font-weight: 600
  
  figure
    display: flex
    align-items: center
    justify-content: center
    padding: 30px
    background-color: var(--color-ash100)
    border-radius: 0.5rem