/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/(layouts)/(nav-footer)/blog/[slug]/blog-post.module.sass ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.blog-post_blog-post__9hFWW {
  line-height: 1.6;
}
.blog-post_blog-post__9hFWW h2, .blog-post_blog-post__9hFWW h3, .blog-post_blog-post__9hFWW h4, .blog-post_blog-post__9hFWW h5, .blog-post_blog-post__9hFWW h6 {
  font-weight: 600;
}
.blog-post_blog-post__9hFWW h2 {
  font-size: 1.333rem;
}
.blog-post_blog-post__9hFWW ol, .blog-post_blog-post__9hFWW ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.blog-post_blog-post__9hFWW ol li, .blog-post_blog-post__9hFWW ul li {
  position: relative;
  padding-left: 1.8em;
}
.blog-post_blog-post__9hFWW ol li::before, .blog-post_blog-post__9hFWW ul li::before {
  position: absolute;
  left: 0.3em;
}
.blog-post_blog-post__9hFWW ol {
  counter-reset: list;
}
.blog-post_blog-post__9hFWW ol li::before {
  counter-increment: list;
  content: counter(list) ".";
}
.blog-post_blog-post__9hFWW ul li {
  list-style-type: disc;
}
