/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/(components)/illustrations/create-monthly-budgets.module.sass ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.create-monthly-budgets_animFadeInScaleBefore__K8IOM {
  opacity: 0;
  transform: scale(0.3);
  transform-origin: center top;
}

.create-monthly-budgets_animFadeInScale__L_T_P {
  animation: create-monthly-budgets_fadeInScale__HKyAj 0.3s 0.7s ease-in-out forwards;
}

@keyframes create-monthly-budgets_fadeInScale__HKyAj {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/(components)/illustrations/organize-your-finances..module.sass ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.organize-your-finances__animScaleXBefore__kCoSK {
  transform-origin: left center;
  transform: scaleX(0);
}

.organize-your-finances__animScaleX__gjpnN {
  animation: organize-your-finances__scaleX__mUIm8 0.4s ease-in-out forwards;
}

.organize-your-finances__animDelay1__Zz6Ul {
  animation-delay: 1.3s;
}

.organize-your-finances__animDelay2__Jziju {
  animation-delay: 1.8s;
}

.organize-your-finances__animDelay3__1IUBu {
  animation-delay: 2.3s;
}

@keyframes organize-your-finances__scaleX__mUIm8 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@media only screen and (max-width: 768px) {
  .organize-your-finances__animDelay1__Zz6Ul {
    animation-delay: 0.4s;
  }
  .organize-your-finances__animDelay2__Jziju {
    animation-delay: 0.9s;
  }
  .organize-your-finances__animDelay3__1IUBu {
    animation-delay: 1.4s;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/(components)/illustrations/visualize-your-progress.module.sass ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes visualize-your-progress_leftBarWidth__5rMhJ {
  0% {
    width: 0;
  }
  100% {
    width: 204px;
  }
}
@keyframes visualize-your-progress_rightBarWidth__J5IYz {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}
@keyframes visualize-your-progress_fadeInTop___3FFl {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.visualize-your-progress_animBarBefore__3Z99B {
  width: 0;
  transform: rotate(0deg);
}

.visualize-your-progress_animLeftBar__TfJ3h {
  animation: visualize-your-progress_leftBarWidth__5rMhJ 0.6s 2.9s ease-in-out forwards;
}

.visualize-your-progress_animRightBar__noUJL {
  animation: visualize-your-progress_rightBarWidth__J5IYz 0.4s 3.9s ease-in-out forwards;
}

.visualize-your-progress_animLabelBefore__MC13r {
  opacity: 0;
  transform: translateY(-15px);
  transform-origin: center top;
  transform-box: content-box;
}

.visualize-your-progress_animLeftLabel__9tw2T {
  animation: visualize-your-progress_fadeInTop___3FFl 0.2s 3.7s ease-in-out forwards;
}

.visualize-your-progress_animRightLabel__Llimf {
  animation: visualize-your-progress_fadeInTop___3FFl 0.2s 4.5s ease-in-out forwards;
}

@media only screen and (max-width: 1024px) {
  .visualize-your-progress_animLeftBar__TfJ3h {
    animation-delay: 0.4s;
  }
  .visualize-your-progress_animRightBar__noUJL {
    animation-delay: 1.4s;
  }
  .visualize-your-progress_animLeftLabel__9tw2T {
    animation-delay: 1.2s;
  }
  .visualize-your-progress_animRightLabel__Llimf {
    animation-delay: 2s;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/(components)/nav/nav.module.sass ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.nav_active__R2EW2 {
  pointer-events: none;
  border-color: var(--color-ash600) !important;
}

.nav_open__Y7OUK {
  transform: translateX(0) !important;
}
